{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
{% endblock %}
{% block content %}

<body style="background-color:beige;">
    <br>
    <hr>
    <h3 class="text-center">BLOGS</h3>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="card-columns">

                    <div class="card  border-success">

                        <div class="card-body text">
                            <div class="card-body">
                                <h5 class="qouted-qoute">{{quote.quote}}</h5>
                                <p class="qouted-author">{{quote.author}}</p>

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="banner-post-banner">
                                <div class="container" id="post-banner">
                                    <h2 class="text-center text-white">Add blog</h2>
                                    <p class="text-center text-white">Add your blog here..</p>

                                    {{ wtf.quick_form(form)}}
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>


          
        </div>

    </div>



</body>
{% endblock %}